.card
  %header
    %h4
      = @audience.title
      = vertical.title
  .card-trend{ class: vertical.direction }
    - if vertical.trend == :increase
      %i.icon.circle.circle-positive.circle-hollow &#58777;
      %h3
        Trend
      %small More spending
    - elsif vertical.trend == :decrease
      %i.icon.circle.circle-negative.circle-hollow &#58777;
      %h3
        Trend
      %small Less spending
    - else
      %i.icon.circle.circle-hollow &#xe271;
      %h3 Trend
      %small No trend
  - [vertical.council_spend, vertical.nhs_spend].each_with_index do |data, index|
    .card-stat
      %h5= "#{index == 0 ? "Council" : "NHS" } Spending"
      %span{ class: "#{data ? 'stat-value' : 'stat-value-na'}" }
        = (data && number_to_currency(data, unit: "£", precision: 0)) || "Not Provided"
