%footer.site-footer
  .site-footer-wrapper
    .footer-section
      %h4 Open Data License
      %p The information provided is published under the open government license and can be downloaded in a .CSV format.
      %h4 Open Source
      %p
        :plain
          This is an Open Source project, the code for this site is <a href="https://github.com/wearefuturegov/opendata" title="opendata on GitHub">available on GitHub</a>
          along with the <a href="https://github.com/wearefuturegov/futuregov-asc_open_data" title="asc_open_data on GitHub"> data cleansing tool</a>.
    .footer-section
      %h4 Related
      %ul.undecorated
        %p You can explore more data on:
        %li
          %a{ href: "http://www.ons.gov.uk/" }
            ONS.gov.uk
        %li
          %a{ href: "http://data.gov.uk/" }
            DATA.gov.uk
    .footer-section.clear
      %h4 About This Project
      .third
        %h5 Funded by
        = image_tag("cabinet_office.png", id: 'cabinet-logo')
      .third
        %h5 Created by
        = image_tag("futuregov.png", id: 'futuregov-logo')
        = image_tag("devon_cc.png", id: 'devon-logo')
        = image_tag("sutton.png", id: 'sutton-logo')
        = image_tag("kingston.png", id: 'kingston-logo')
