%header.hero-header.bright
  %h1.white
    Understand your
    = t('app.name')

.row
  %section.half#area-list
    %h2
      We are preparing data in
      %em= @areas.count
      Areas
    %small.bright This prototype is currently in development, areas will go live soon.
    %br/
    - if @areas.any?
      %ul.link-list
        - @areas.each do |area|
          %li= link_to area.name, area_path(area)

  %section.half
    %h2 Find your area
    %small.bright This prototype is currently in development, areas will go live soon.
    -# TODO: Replace with rails form!
    %form#area-finder
      %fieldset
        %legend Find an area
        = label_tag 'area'
        = text_field_tag 'area', nil, placeholder: 'e.g. Devon, Exeter', class: 'inline'
        %input.inline{ type: 'Submit', value: 'Search' }

%section.clear#home-introduction
  %header.third
    %h2 Local Care Market Demonstrator
    %h3.colorful Coming Soon
  .third
    %p
      %em Council’s have an important role to understand and shape their local adult social care market and they have to create a market positioning statement. It’s a full time job to pull together relevant data from different external sources and internal systems, analyse it and keep it up to date.
    %p Our prototype attempts to demonstrate how bringing together open adult social care data can make it easier for councils to quickly understand their local care market and could help create new opportunities for providers and give more choice to users through greater transparency.
    %p Check out some of early sketches and wireframes as the prototype takes shape.
  .third
    = link_to image_path("wireframe_1_full.png"), class: 'quarter' do
      = image_tag("wireframe_1.png", alt: 'Open Data prototype wireframe')
    = link_to image_path("wireframe_2_full.png"), class: 'quarter' do
      = image_tag("wireframe_2.png", alt: 'Open Data prototype wireframe')
    = link_to image_path("mockup_1_full.png"), class: 'quarter' do
      = image_tag("mockup_1.png", alt: 'Open Data prototype mockup')
    = link_to image_path("mockup_2_full.png"), class: 'quarter' do
      = image_tag("mockup_2.png", alt: 'Open Data prototype mockup')

  .clear

%header.hero-header.subtle
  %h1 The Project

.row
  %section.third.home-summary
    = image_tag("ProjectBackground.jpg", alt: "Project background – Futuregov hackday")
    %h3 Background
    %article
      %p This collaborative project between FutureGov, Devon Council and Kingston and Sutton Councils was funded by the Cabinet Office with the aim to encourage councils to release more adult social care open data, publish it to data.gov.uk and to demonstrate the benefits of this approach.
  %section.third.home-summary
    = image_tag("ProjectFirstPhase.jpg", alt: 'The first phase - open data card game')
    %h3 The first phase
    %article
      %p Involved mapping existing data, identifying user needs and exploring what additional adult social care data could be released as open data regularly to data.gov.uk. Below you’ll find links to the data, design tools, a framework and guides for how the councils have released this data that you can reuse.
  %section.third.home-summary
    = image_tag("ProjectSecondPhase.jpg", alt: "The second phase - Building a prototype app using discovered data")
    %h3 The second phase
    %article
      %p Brings together relevant existing adult social care open data (including the data released in this project) into a prototype that demonstrates the benefits that releasing this data might have for council commissioners, providers and the general public.

%header.hero-header.subtle
  %h1 What happened?

.row
  %section.home-progress.half.clear
    %header
      %h3 We created a game to explore how to combine data sets
    %article
      %p To help think about different ways data sets could be combined to meet user needs we created a card game. Download the game, edit and reuse it to help think about  the value of data sets in different ways.
      %ul.link-list
        %li= static_file('files/Open_Data_Card-Game.pdf')

  %section.home-progress.half.clear
    %header
      %h3 We created user personas to help understand data needs
    %article
      %p Working with council commissioners and data owners we created light user personas to help understand their needs and think about how using data differently might help. Download and reuse our personas or use our template to create your own.
      %ul.link-list
        %li= static_file('files/Open_Data_User-Cards.pdf')

  %section.home-progress.half.clear
    %header
      %h3 We created data sharing agreements
    %article
      %p We created a simple process for sharing data and project documentation. We’ve made use of collaborative tools like Google Drive to share data, making sure access rights were defined and setup at the beginning of the project.
      %ul.link-list
        %li= static_file('files/Open_Data_Agreement-Template.docx')

  %section.home-progress.half.clear
    %header
      %h3 Workshop materials
    %article
      %p Co-design workshops helped us to think about why certain data sets should be prioritised for release. Find out how we structured our workshops with providers and commissioners.
      %ul.link-list
        %li= static_file('files/Open_Data_Workshop-Materials.pdf')

  %section.home-progress.half.clear
    %header
      %h3 Final report for releasing data
    %article
      %p Our final report sets out in detail all of the work that we have done and more detail about the data sets that they are releasing.
      %ul.link-list
        %li= static_file('files/Open_Data_Final-Report.pdf')

  %section.home-progress.half.clear
    %header
      %h3 Framework for councils to do the same
    %article
      %p Devon Council has created this short framework to accompany the final report that sets out the process they’ve followed and adapted to release open data. Our intention is that together with the final report, this provides a framework that can be followed by other councils allowing them to release more data.
      %ul.link-list
        %li= static_file('files/Open_Data_Publishing-Framework.pdf')

%footer.hero-footer.attention#home-subfooter
  = link_to "Got questions?", "#", class: 'large-link white'
  = link_to "Want to use this data?", "#", class: 'large-link white'
  = link_to "Get in touch", "#", class: 'large-link white'
