%h1 
  Understand your
  = t('app.name')

.row
  %section.half
    %h3 
      We are currently live in
      =@areas.count
      Areas
    - if @areas.any?
      %ul.link-list
        - @areas.each do |area|
          %li= link_to area.name, area_path(area)

  %section.half
    %h3 Find your area
    %p 
      As this project grows more areas will become available, get in contact with us if you want to become part of
      = t('app.name') + "."
    %br/
    -# TODO: Replace with rails form!
    %form#area-finder
      %fieldset
        = text_field_tag 'area', nil, placeholder: 'e.g. Devon, Exeter', class: 'inline'
        %input{ type: 'Submit', value: 'Search', class: 'inline' }

.row
  %section.third.home-summary
    %h3 Background
    %article
      %p This project was created in a funding challenge set by the Cabinet Office with the aim to help Councils release more adult social care data under the open data license.
  %section.third.home-summary
    %h3 The first phase
    %article
      %p First we focussed on exploring the available data-sets and finding processes to open them up on a regular basis. You can find the relvant materials below.
  %section.third.home-summary
    %h3 The second phase
    %article
      %p In the second phase we used that data to build a working prototype that aims to show how bringing these data-sets together might benefit the general public, providers or council commisioners with thier needs and tasks. Choose an area above to see the results.

%h2 What happened

%section.home-progress.clear
  %header.third
    .decorative-bg
    %blockquote
      %h3 We created a game to explore available data sets
  .third
    This helped practitioners see the context of data-sets in a new light.

  .third
    %ul.link-list
      -# TODO: Make these dynamic
      %li
        %a.document-link{ href: '#' }
          %i.icon.icon-document-1
          %span.document-type.pdf PDF
          document_name.pdf
      %li
        %a.document-link{ href: '#' }
          %i.icon.icon-document-1
          %span.document-type.doc DOC
          important.doc

%section.home-progress.clear
  %header.third
    .decorative-bg
    %blockquote
      %h3 We learned more about users to ensure we design to their needs
  .third
    From this we produced user profiles, which helped us explore the data more efficently.
  .third
    %ul.link-list
      -# TODO: Make these dynamic
      %li
        %a.document-link{ href: '#' }
          %i.icon.icon-document-1
          %span.document-type.pdf PDF
          document_name.pdf
      %li
        %a.document-link{ href: '#' }
          %i.icon.icon-document-1
          %span.document-type.doc DOC
          important.doc

%section.home-progress.clear
  %header.third
    .decorative-bg
    %blockquote
      %h3 We created shared data agreements
  .third
    The agreement currently spans accross 3 Councils and a private company. This ensures details can be easily shared.
  .third
    %ul.link-list
      -# TODO: Make these dynamic
      %li
        %a.document-link{ href: '#' }
          %i.icon.icon-document-1
          %span.document-type.pdf PDF
          document_name.pdf
      %li
        %a.document-link{ href: '#' }
          %i.icon.icon-document-1
          %span.document-type.doc DOC
          important.doc

%section.home-progress.clear
  %header.third
    .decorative-bg
    %blockquote
      %h3 More workshop materials
  .third
    Find out how we structured our workshop with stakeholders.
  .third
    %ul.link-list
      -# TODO: Make these dynamic
      %li
        %a.document-link{ href: '#' }
          %i.icon.icon-document-1
          %span.document-type.pdf PDF
          document_name.pdf
      %li
        %a.document-link{ href: '#' }
          %i.icon.icon-document-1
          %span.document-type.doc DOC
          important.doc

%section.home-progress.clear
  %header.third
    .decorative-bg
    %blockquote
      %h3 We created our final report on data sharing and opening up data sets
  .third
    Amet dolorum commodi illo modi excepturi ipsa! Facilis modi alias adipisci delectus aliquam. Beatae magnam delectus blanditiis officiis doloribus ipsum.
  .third.highlighted
    %p All of this data is published on data.gov.uk
    %a{href: '#'}
      Devon
    %br/
    %a{href: '#'}
      Kingston
    %br/
    %a{href: '#'}
      Sutton

%section.transparent#home-subfooter
  = link_to "Got questions?", "#", class: 'large-link'
  = link_to "Want to use this data?", "#", class: 'large-link'
  = link_to "Get in touch", "#", class: 'large-link'
