%h1
  Understand your
  = t('app.name')

.row
  %section.half#area-list
    %h2
      We are currently live in
      %em= @areas.count
      Areas
    - if @areas.any?
      %ul.link-list
        - @areas.each do |area|
          %li= link_to area.name, area_path(area)

  %section.half
    %h2 Find your area
    -# TODO: Replace with rails form!
    %form#area-finder
      %fieldset
        %legend Find an area
        = label_tag 'area'
        = text_field_tag 'area', nil, placeholder: 'e.g. Devon, Exeter', class: 'inline'
        %input.inline{ type: 'Submit', value: 'Search' }

.row
  %section.third.home-summary
    %h3 Background
    %article
      %p This project was created in a funding challenge set by the Cabinet Office with the aim to help Councils release more adult social care data under the open data license.
  %section.third.home-summary
    %h3 The first phase
    %article
      %p First we focussed on exploring the available data-sets and finding processes to open them up on a regular basis. You can find the relvant materials below.
  %section.third.home-summary
    %h3 The second phase
    %article
      %p Is about bringing together relevant existing adult social care open data, including data released in phase one, to build a prototype that demonstrates some of the benefits that releasing this data might have for council commissioners, providers and the general public.

%h2.padded What happened

%section.home-progress.clear
  %header.third
    .decorative-bg
    %blockquote
      %h3 We created a game to explore how to combine data sets
  .third
    To help think about different ways data sets could be used to meet needs we created a card game. Download the game, edit and re-use it to help think about data in different ways.

  .third
    %ul.link-list
      -# TODO: Make these dynamic
      %li
        %a.document-link{ href: '#' }
          %span.icon.icon-document-1
          %span.document-type.pdf PDF
          document_name.pdf
      %li
        %a.document-link{ href: '#' }
          %span.icon.icon-document-1
          %span.document-type.doc DOC
          important.doc

%section.home-progress.clear
  %header.third
    .decorative-bg
    %blockquote
      %h3 We created user personas to help understand data needs
  .third
    Working with commissioners and data owners we created light user personas to help us think through their needs in relation to adult social care data sets. Download our personas or use our template to create your own.
  .third
    %ul.link-list
      -# TODO: Make these dynamic
      %li
        %a.document-link{ href: '#' }
          %span.icon.icon-document-1
          %span.document-type.pdf PDF
          document_name.pdf
      %li
        %a.document-link{ href: '#' }
          %span.icon.icon-document-1
          %span.document-type.doc DOC
          important.doc

%section.home-progress.clear
  %header.third
    .decorative-bg
    %blockquote
      %h3 We created data sharing agreements
  .third
    We worked with the councils to create a light-process for sharing data and project documentation. We made use of collaborative tools like Google Drive to share data, making sure access rights were defined and setup at the beginning of the project. Download and re-use our data sharing agreement here.
  .third
    %ul.link-list
      -# TODO: Make these dynamic
      %li
        %a.document-link{ href: '#' }
          %span.icon.icon-document-1
          %span.document-type.pdf PDF
          document_name.pdf
      %li
        %a.document-link{ href: '#' }
          %span.icon.icon-document-1
          %span.document-type.doc DOC
          important.doc

%section.home-progress.clear
  %header.third
    .decorative-bg
    %blockquote
      %h3 Workshop materials
  .third
    Co-design workshops helped us to think about why certain data sets should be prioritised for release. Find out how we structured our workshops with providers and commissioners.
  .third
    %ul.link-list
      -# TODO: Make these dynamic
      %li
        %a.document-link{ href: '#' }
          %span.icon.icon-document-1
          %span.document-type.pdf PDF
          document_name.pdf
      %li
        %a.document-link{ href: '#' }
          %span.icon.icon-document-1
          %span.document-type.doc DOC
          important.doc

%section.home-progress.clear
  %header.third
    .decorative-bg
    %blockquote
      %h3 Final framework for releasing data
  .third
    Our final report sets out in detail all of the work that we have done with the councils and the data sets that they are releasing. Our intention is that this framework can be followed by other councils allowing them to release this data and more.
  %ul.third.highlighted.undecorated
    %p All of this data is published on data.gov.uk
    %li
      %a{ href: '#' }
        Devon
    %li
      %a{ href: '#' }
        Kingston
    %li
      %a{ href: '#' }
        Sutton

%section.transparent#home-subfooter
  = link_to "Got questions?", "#", class: 'large-link'
  = link_to "Want to use this data?", "#", class: 'large-link'
  = link_to "Get in touch", "#", class: 'large-link'
