<h1><%= link_to @area.name, area_path(@area) %></h1>

<nav>
  <p><%= link_to "All areas", areas_path %></p>
</nav>

<% if @area.audiences.any? %>
  <ul>
    <li><%= link_to "Total population", area_path(@area) %></li>
    <% @area.audiences.each do |audience| %>
    <li><%= link_to audience.title, area_audience_path(@area, audience) %></li>
    <% end %>
  </ul>
<% end %>

<% if @audience.present? %>
  <h2><%= @audience.title %></h2>
<% end %>