%header.aside-header
  %h1= "Population of " + @area.name
  %aside
    .highlighted
      %h4 Total Population
    %div
      %span
        = number_to_percentage(@area.total_population_percent_by_gender("female"), precision: 2)
        Female
      %br/
      %small
        = number_with_delimiter(@area.total_population_by_gender("female"))
        people
    %div
      %span
        = number_to_percentage(@area.total_population_percent_by_gender("male"), precision: 2)
        Male
      %br/
      %small
        = number_with_delimiter(@area.total_population_by_gender("male"))
        people
    %span.clear

%section.chart-wrapper.container
  %nav.super-tab-wrapper
    - @area.audiences.each_with_index do |audience, index|
      -# ID required by styling "#tab-1", "#tab-2" etc.
      -# Class to select default tab on view load
      -# '*_url' attributes are passed to area.coffee to load via AJAX
      .super-tab{ id: "tab-#{index + 1}",
                  class: (index == 0 ? "selected" : "unselected") + (audience.total_population_at(Date.current.year) == 0 ? " disabled" : ""),
                  data: { chart_url: area_audience_path(@area, audience),
                          details_url: area_audience_fund_verticals_path(@area, audience) } }
        %header.chart-header
          %h3= audience.title
        %article
          %p
            %strong
              - if audience.total_population_at(Date.current.year) > 0
                #{number_with_delimiter(audience.total_population_at(Date.current.year))} People
              - else
                = I18n.t('data.missing')
          - if audience.total_population_at(Date.current.year) > 0
            .super-tab-trend.clear
              - audience.total_population_percent_change(Date.current.year, @horizon_year).tap do |change|
                - if change > 0
                  %i.icon.circle.circle-positive &#58776;
                - elsif change < 0
                  %i.icon.circle.circle-negative &#58777;
                %data
                  %span.stat-value
                    = number_to_percentage(change, precision: 2)
                  %p= change > 0 ? "Increase" : "Decrease"
            %p
              %strong
                = number_with_delimiter(audience.total_population_at(@horizon_year))
                predicted for #{@horizon_year}

    -# Only used on small screens
    %section.super-tab-info.clear

  %section.container#chart-container
    -# Rendered via AJAX (areas.coffee)
    %header.chart-header
      %h2.white
    .chart
    %h3 Legend
    %ul.legend

%section.container#care-home-stats-wrapper
  = render partial: "care_homes_stats", locals: { home_stats: @home_stats }

%h1.card-heading
  Public funding for care in
  = @area.name

%section.transparent.container#card-wrapper
  -# Will be rendered via AJAX (areas.coffee)

-# %footer.hero-footer.subtle
  %h3 Get the data
