%header.aside-header
  %h1= "Population of " + @area.name
  %aside
    .highlighted
      %h4 Total Population
    %div
      %span
        = gender_percentage(@area, @area.total_population_female)
        Female
      %br/
      %small
        = number_with_delimiter(@area.total_population_female)
        people
    %div
      %span
        = gender_percentage(@area, @area.total_population_male)
        Male
      %br/
      %small
        = number_with_delimiter(@area.total_population_male)
        people
    %span.clear

%section.chart-wrapper.container
  %nav.super-tab-wrapper
    - if @area.audiences.any?
      - @area.audiences.each_with_index do |audience, index|
        -# ID required by styling "#tab-1", "#tab-2" etc.
        -# Class to select default tab on view load
        -# 'ajax_*' attributes are passed to area.coffee to load via AJAX
        .super-tab{ id: "tab-" + (index + 1).to_s,
          class: (index == 0 ? "selected" : "unselected"),
          data: { ajax_chart: area_audience_path(@area, audience), ajax_details: breakdown_audience_path(audience.id) } }
          %header.chart-header
            %h3= audience.title
          %article
            %p
              %strong XXX,XXX
            .super-tab-trend.clear
              -# TODO: Helper / Decorator to decide positive or negative
              %i.icon.circle.circle-positive &#58776;
              %data
                -# TODO: Real stats!
                %span.stat-value +XX%
                %p Increase or decrease?
            %p
              %strong XXX,XXX predicted for 2021

    %section.super-tab-info.clear

  %section.container#chart-container
    -# Will be rendered via AJAX (areas.coffee)

%h1
  Public funding for care in
  = @area.name

%section.transparent.container#card-wrapper
  -# Will be rendered via AJAX (areas.coffee)

%footer.hero-footer.subtle
  %h3 Get the data
